
<div id="profile_pic_box">
    <img src="/images/profile_pic.svg" alt="profile pic" id="profile_pic">
</div>
<hr>
<nav id="admin_nav">
    <a href="/blog">View Blog</a>
    <a href="/admin/users">Users</a>
    <a href="/logout">Logout</a>
</nav>