<a href="/">
  <img src="/images/logo.svg" alt="" id="logo" />
</a>

<nav id="left_nav">
  <a href="/blog">Articles</a>
  <a href="/about">About</a>
</nav>
<nav>
  <a href="/blog/edit">Edit Posts</a>
  <a href="/blog/new">Create new post</a>
</nav>
