<div id="recent_posts">
  <h2>Recent posts</h2>
  <% for(let i =0; i < articles.length && i < 5;i++) { %>
    <% 
    article = articles[i]
    title = article.title 
    articleReg1 = /[^a-zA-Z0-9 ]+/g;
    articleReg2 = /[^a-zA-Z0-9]+/g;
    slug = `/blog/${title.replace(articleReg1,"").replace(articleReg2,"-").toLowerCase()}`
    %>
  <p><a href=<%=slug%> ><%=title%></a></p>
  <% } %>
</div>
