<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head',{pageTitle:`Login`}); %>
    <link rel="stylesheet" href="/auth_page_styles.css">
</head>

<body>
    <form method="post">  
        <div>
            <label for="">Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="">Password:</label>
            <input type="password" name="password" required>
        </div>
        <input type="submit" value="Sign In" />

        <a href="/register" class="auth_switch">Register</a>
    </form>
    <script>
        
    </script>
</body>

</html>