<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link href="/create_edit_page_styles.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <form action="" method="post">
      <div id="top">
        <div class="label_input" id="article_title">
          <label>Title</label>
          <input type="text" name="title" required/>
        </div>
        <div class="label_input" id="article_sample">
          <label>Sample</label>
          <textarea type="text" name="sample"></textarea>
        </div>
      </div>
      <div id="bottom">
        <div id="left">
          <div id="body_box">
            <!-- <label>Article Body</label> -->
            <textarea id="body" name="body" placeholder="New post body..."></textarea>
          </div>
          <button>Update Post</button>
        </div>
        <div id="body_preview"></div>
      </div>
    </form>
    
  </main>


  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script>
    let conv = new showdown.Converter();
    let bodyEle = document.getElementById("body");
    let previewEle = document.getElementById("body_preview");
    previewEle.innerHTML = conv.makeHtml(bodyEle.value);

    const updatePreview = () => {

      previewEle.innerHTML = conv.makeHtml(bodyEle.value);
      console.log("bodyEle.innerHTML")
    };

    bodyEle.addEventListener("input", updatePreview);
    bodyEle.addEventListener("keyup", updatePreview);
  </script>
</body>

</html>